 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 787px;
}

.u-section-1 .u-table-1 {
  margin-top: 272px;
  margin-bottom: 60px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}